# Local variable definitions containing secrets
terraform.tfvars
*.auto.tfvars

# Local .terraform directory and crash logs
.terraform/
crash.log
crash.*.log

# Terraform state files
*.tfstate
*.tfstate.*
*.tfplan